.topic-section,
.collection-section {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}

.topic-container {
  margin: 40px 350px 30px;
}

.topic-wrapper {
  position: relative;
  display: flex;
}

.topic-action {
  margin-top: 9px;
}

.topic-actionbigger.left {
  position: absolute;
  top: 2px;
  left: -106px;
}

.topic-actionbigger.right {
  position: absolute;
  top: 2px;
  right: -132px;
}

.topic-title {
  font-size: 30px;
  font-weight: 600;
  line-height: 42px;
}

.topic-intro {
  flex: 1;
  align-items: center;
  justify-content: space-between;
  display: flex;
  margin: 0 40px 10px 20px;
}

.topic-private {
  align-items: center;
  display: flex;
}

.topic-private-text {
  font-size: 14px;
  line-height: 20px;
  color: #333;
}

.topic-private-slider {
  width: 40px;
  height: 24px;
  margin-left: 10px;
  box-sizing: border-box;
  border-radius: 12px;
  border: 1px solid #000;
}

.topic-private-slider__ball {
  position: relative;
  top: -1px;
  left: -1px;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 1px solid #000;
  transition: all .5s ease;
  cursor: pointer;
}

.topic-private-slider:hover .topic-private-slider__ball {
  left: 15px;
}

.topic-desc {
  margin-left: 44px;
  font-size: 14px;
  line-height: 20px;
  color: #999;
}

.collection-container {
  margin: 0 350px;
}

.collection-list {
  flex-wrap: wrap;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.collection-item {
  position: relative;
}

.collection-item-cover {
  /* 响应式 */
  width: 100%;
  /* width: 290px; */
  /* height: 300px; */
  overflow: hidden;
}

.collection-item-cover__overlay {
  position: absolute;
  z-index: 10;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  width: 100%;
  height: calc(100% - 27px);
  padding: 20px 15px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity .3s ease;
  cursor: pointer;
}

.collection-item-cover:hover .collection-item-cover__overlay {
  opacity: 1;
}

.collection-item-cover__img {
  width: 100%;
}

.collection-overlay-collect {
  justify-content: space-between;
  display: flex;
  cursor: pointer;
}

.collection-overlay-collect__btn {
  background: #FF3939;
  padding: 10px 22px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #fff;
  border-radius: 4px;
}

.collection-overlay-download {
  display: flex;
  align-items: center;
  width: 105px;
  height: 40px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
  background-color: rgba(255, 255, 255, .8);
  border-radius: 4px;
  cursor: pointer;
}

.collection-item-desc {
  margin-top: 10px;
  font-size: 12px;
  line-height: 17px;
  color: #666;
}


@media screen and (max-width: 1481px) {

  .topic-container,
  .collection-container {
    margin-left: 150px;
    margin-right: 150px;
  }

}