body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  scroll-behavior: none;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* 以上为通用格式 */

.page-header svg {
  color: red;
}

.page-header {
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  background-color: #fff;
  border-bottom: 1px #efefef solid;
}

.header-left {
  align-items: center;
  display: flex;
}

.header-logo {
  display: flex;
  margin-left: 40px;
}

.header-title {
  top: 27px;
  left: 80px;
  width: 54px;
  height: 25px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: #333;
}

.header-search {
  align-items: center;
  display: flex;
  width: 600px;
  height: 40px;
  margin-top: 2px;
  margin-left: 216px;
  box-sizing: border-box;
  background-color: #eee;
  border: 2px solid transparent;
  border-radius: 20px;
}

.header-search:focus-within {
  background-color: #fff;
  /* 问题，解决bug：focus但没有hover时，border消失 */
  border: 2px solid #999;
}

.header-search:hover {
  border: 2px #999 solid;
}

.header-search-icon {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 24px;
  height: 24px;
  margin-left: 13px;
}

.header-search-input {
  flex: 1;
  margin-left: 10px;
  font-size: 14px;
  line-height: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
}

.header-search-input::placeholder {
  color: #999;
}

.header-search-scan {
  display: flex;
  margin-right: 13px;
}

.header-right {
  align-items: center;
  display: flex;
}

.header-navlist {
  column-gap: 40px;
  display: flex;
  margin-right: 60px;
  font-size: 16px;
  line-height: 22px;
  color: #333;
}

.header-nav-item {
  flex-shrink: 0;
}

.header-nav-item.active {
  position: relative;
}

.header-nav-item.active::before {
  content: "";
  position: absolute;
  bottom: -29px;
  width: 100%;
  height: 2px;
  background-color: #222;
}

.header-user {
  align-items: center;
  column-gap: 10px;
  display: flex;
  margin-right: 40px;
  cursor: pointer;
}

.header-user-avatar {
  display: flex;
}

.header-user-more {
  display: flex;
  /* 问题,原设计中,不是居中,有意为之吗 */
  margin-top: 2px;
  transform: rotate(0deg);
  transition: transform .3s ease;
}

.header-user:hover .header-user-more {
  transform: rotate(180deg);
}

.header-user-info {
  position: absolute;
  top: 70px;
  right: 40px;
  z-index: 10;
  width: 96px;
  height: 0px;
  padding: 0 10px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 20px;
  color: #666;
  background-color: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
  overflow: hidden;
  transition: all .3s ease;
}

.header-user-info__about {
  padding: 20px 10px 10px;
  border-bottom: 1px solid #efefef;
}

.header-user-info__logout {
  padding: 10px 10px 0px;
}

.header-user-info::before {
  /* 问题，为什么这个三角消失了 */
  content: "";
  position: absolute;
  z-index: 100;
  left: 50%;
  width: 0px;
  height: 0px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid red;
  transform: translateX(-50%) translateY(-100%);
}

.header-user:hover .header-user-info,
.header-user-info:hover {
  height: 100px;
}