.page-body {}

.section-wrapper {
  max-width: 1920px;
  display: flex;
  height: calc(100vh - 80px);
  margin: 0 auto;
}

.sidebar-section {
  flex-shrink: 0;
  width: 330px;
  padding: 20px 0 0 40px;
  box-sizing: border-box;
  border-right: 1px solid #efefef;
}

.sidebar-mode-item:not(:first-child) {
  margin-top: 20px;
}

.mode-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}

.mode-typelist {
  flex-wrap: wrap;
  display: flex;
  margin-top: 20px;
}

.mode-type-item {
  display: flex;
  align-items: center;
  height: 36px;
  padding: 8px 14px;
  margin: 0 10px 10px 0;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  background-color: #fff;
  border: 1px solid #efefef;
  cursor: pointer;
  transform: scale(1);
  transition: all .3s ease;
}

.mode-type-item:hover {
  transform: scale(1.16);
  background-color: #efefef;
}

.mode-type-item__collapse {
  align-items: center;
  display: flex;
  color: #777;
}

.mode-type-item.collapse svg {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}

.mode-type-item.select {
  padding-left: 10px;
  padding-right: 15px;
  color: #fff;
  background-color: #333;
  border: none;
}


.mode-type-item.select::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 2px;
  background: url(../img/icon-select.png);
}

.opus-section {
  flex: 1;
  margin: 20px 40px 0 20px;
}

.opus-list {
  display: grid;
  grid-template-rows: repeat(2, 0.8fr);
  gap: 20px;
}

@media screen and (max-width: 1480px) {
  .opus-list {
    grid-template-columns: repeat(4, 1fr);
  }

  .opus-item:nth-last-child(-n+2) {
    display: none;
  }
}

@media screen and (min-width: 1481px) {
  .opus-list {
    grid-template-columns: repeat(5, 1fr);
  }
}

.opus-item {
  background-color: #999;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.opus-item-cover {
  width: 100%;
}

.opus-item-overlay {
  position: absolute;
  z-index: 10;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px 15px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity .3s ease;
}

.opus-item:hover .opus-item-overlay {
  opacity: 1;
}

.opus-item-overlay__collect {
  display: flex;
}

.opus-item-overlay__collect-select {
  flex: 1;
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 0 10px;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.80);
}

.opus-item-overlay__collect-btn {
  width: 72px;
  padding: 10px 22px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  color: #FFF;
  background: #FF4D4D;
}

.opus-item-overlay__download {
  align-items: center;
  display: inline-flex;
  width: 105px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
  color: #333;
  background: rgba(255, 255, 255, 0.80);
}

.opus-item-overlay__download svg {
  margin-right: 2px;
}

.page-login {
  position: absolute;
  z-index: 11;
  left: 50%;
  top: 50%;
  align-items: center;
  justify-content: center;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  transform: translateX(-50%) translateY(-50%);
}

.page-login.active {
  display: flex;
}

.login-container {
  flex-direction: column;
  align-items: center;
  display: flex;
  width: 599px;
  height: 521px;
  margin: 0 auto;
  background-color: #fff
}

.login-logo {
  margin: 40px 0;
  display: flex;
}

.login-ways {
  display: flex;
  gap: 80px;
}

.login-box {
  display: none;
}

.login-box.active {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.login-way {
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  color: #999;
}

.login-way.active {
  color: #333;
}

.login-cover {
  position: relative;
  display: flex;
  margin: 20px 0;
  cursor: pointer;
}

.login-cover-overlay {
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity .3s ease;
}

.login-cover:hover .login-cover-overlay {
  opacity: 1;
}

.login-cover__overlay-main {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.login-cover__overlay-sub {
  font-size: 12px;
  line-height: 17px;
}

.login-box-text {
  font-size: 14px;
  line-height: 20px;
}

.login-content {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.login-number,
.login-verify {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #666;
}

.login-numberinput {
  height: 40px;
  width: 400px;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #efefef;
  border-radius: 2px;
  outline: none;
}

.login-verifyinput {
  display: flex;
  width: 400px;
  box-sizing: border-box;
  border: 1px solid #efefef;
}

.login-verify-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px;
}

.login-verify-submit {
  width: 70px;
  padding: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #ccc;
  border-left: 1px solid #efefef;
  cursor: pointer;
}

.login-box:hover .login-verify-submit {
  color: #333;
}

.login-box-submit {
  width: 400px;
  height: 40px;
  padding: 10px 22px;
  margin-top: 60px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #333;
  cursor: pointer;
}